*{
margin:0px;
color:white;
font-family: 'Cabin', sans-serif;
}
.sec1{
background: linear-gradient(rgba(8, 8, 8,0.1),black),url("image3.jpg");
background-size:cover;
width:100%;
height:100vh;
}
.div1{
background-color:transparent;
height:50px;
width:100%;
}
.div1 ul{
list-style-type:none;
}
.div1 ul li{
float:right;
padding:20px;
}
.div1 ul li a{
color:#2e2c2c;
text-decoration:none;
font-size:20px;
}
.div1 ul li a:hover{
color:white;
}
.div2{
background-color:#666464;
height:60vh;
width:50%;

}
.div2 h1{
background: linear-gradient(

            to right,red,

            black,#8a8991);
              -webkit-text-fill-color: transparent;

        -webkit-background-clip: text;
font-size:180px;
text-align:center;
margin-top:200px;
font-family: 'Alata', sans-serif;
}
.div2 p{
font-size:40px;
color:black;
margin-top:0px;
margin-left:200px;
width:500px;
text-align:left;
font-family: 'Satisfy', cursive;
}
.div4ul{
margin-left:140px;
font-size:20px;

}

.div4ul li{
list-style-type:none;
margin-top:35px;

}
.sec2{
background-color:black;
width:100%;
height:100vh;
}
.div3{
background-color:black;
width:33.203333333%;
height:70%;
float:left;
margin-top:100px;
border-right:1px solid white;
}
.div4{
background-color:black;
width:33.333333333%;
height:70%;
float:left;
margin-top:100px;
border-right:1px solid white;
}
.div4 a:hover{
color:#303030;
}
.div5{
background-color:black;
width:33.333333333%;
height:70%;
float:left;
margin-top:100px;
}
.sec2 h1{
margin-left:20px;
font-size:50px;
text-align:center;
}
.dv6_p{
color:black;
}
.d6_form{
background-color:#6e6d6d;
width:60%;
height:60%;
margin-left:150px;
}
.div6 input{
width:250px;
height:50px;
margin-left:80px;
margin-top:100px;
border-radius:5px;
}
.div6 textarea{
width:585px;
height:200px;
margin-left:80px;
margin-top:30px;
border-radius:5px;
}
.div6 button{
background-color:#666464;
color:white;
width:200px;
height:40px;
margin-left:120px;
margin-top:20px;
border-radius:10px;
}
.div6 a{
background-color:#666464;
color:white;
width:200px;
height:40px;
margin-top:20px;
border-radius:10px;
margin-left:40px;
}
.div6 button:hover{
color:black;
background-color:#8e8d91;;
}
h2{
text-align:center;
font-size:40px;
margin-top:30px;
}
p{
text-align:left;
font-size:20px;
margin-top:30px;
margin-left:80px;
margin-right:80px;

}


.sec3{
display:flex;
background-color:black;
width:100%;
height:100vh;
}

.div6{
background-color:black;
width:50%;
height:70%;
margin-top:30px;
margin-left:400px;
border:1px solid white;
}

.div7{
background-color:black;
width:100%;
height:80%;
margin-top:100px;
}
.divtop{
width:100%;
height:40%;
background-color:black;
}
.divleft{
color:black;
font-size:25px;
width:25%;
height:100%;
background-color:black;
float:left;
margin-left:350px;
}
.divright{
color:black;
font-size:25px;
width:25%;
height:100%;
background-color:black;
float:left;
margin-left:120px;
}
.footer{
background-color:#303030;
width:100%;
height:10%;
}
.footer ul{
text-decoration:none;
float:right;
}
.footer ul li{
display:inline;
padding:30px;
}
.pfoot{
float:left;
}
.footer ul li button{
width:40px;
height:40px;
border-radius:20px;
}
.fa{
color:black;
}
.dfoot a{
text-decoration:none;
margin-right:80px;
font-size:20px;
}
.dfoot a:hover{
color:#8e8d91;
}
.ifoot{
font-size:20px;
margin-left:30px;
}
.a1{
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
border:1px solid white;
text-decoration:none;
border-radius:10px;
margin-left:130px;
background-color:#7a1616;
}
.a2{
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
border:1px solid white;
text-decoration:none;
border-radius:10px;
margin-left:130px;
background-color:#7a1616;
}
.a3{
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
border:1px solid white;
text-decoration:none;
border-radius:10px;
margin-left:130px;
background-color:#7a1616;
}
.a1:hover{
color:#a19c9c;
}
.a2:hover{
color:#a19c9c;
}
.a3:hover{
color:#a19c9c;
}

.pre{
font-size:20px;
}
.h4{
margin-left:10px;
margin-top:50px;
}
.h41{
margin-top:50px;
margin-left:150px;
}
.fa-phone{
color:white;
}
.fa-envelope
{
color:white;
}
.fa-map-marker{
color:white;
}
     .ts-img-h{
        position:relative;
        margin-left:200px;
        padding-top:100px;
        float:left;
        }
        .img{
        width:300px;
        height:500px;
        border-radius:14px;
        }
        .overlay{
        position:absolute;
        bottom:-128px;
        background:#252525;
        mix-blend-mode:hard-light;
        border-radius:14px;
        color:white;
        width:260px;
        height:100px;
        transition:.5s ease;
        opacity:0;
        font-size:20px;
        padding:20px;
        text-align:center;
        }
        .ov-sty{
        font-weight:600;
        font-size:14px;
        line-height:16px;
        color:#F5BA07;
        opacity:1.7;
        }
        .ts-img-h:hover .overlay{
        opacity:1.7;
        bottom:0px;
        }
        .sec5{
        background-color:black;
        width:100%;
        height:100vh;
        }
         .ts-img-h1{
        position:relative;
        margin-left:6%;
        padding-top:100px;
         float:left;
        }
           .ts-img-h1:hover .overlay{
        opacity:1.7;

        bottom:0px;
        }
         .ts-img-h2{
        position:relative;
        margin-left:65%;
        padding-top:100px;

        }
           .ts-img-h2:hover .overlay{
        opacity:1.7;
        bottom:0px;
        }
        .new_sec_para{
        color:white;
        margin-left:80px;
        font-size:20px;
        }